<div class="card shadow-sm rounded-5 my-3 bg-secondary">
  <div class="card-body">
    <%= simple_form_for [chat, message], remote: true do |f| %>
      <div class="row g-2 align-items-center">
        <div class="col-8">
          <%= f.input :prompt, input_html: { class: "form-control rounded-4", data: { messages_target: "userMessage" }, placeholder: "Ask a question" }, required: true, label: false %>
        </div>

        <div class="col-4 text-end">
          <%= f.button :submit, "wesh", class: 'btn btn-primary w-100 d-flex align-items-center justify-content-center', data: { action: 'click->messages#injectMessage' } do %>
            <%= image_tag "view.png", alt: "Envoyer", style: "width: 32px; height: 32px;" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
