<div class="form-background"></div>
  <%# passe la locale with_add_button pour afficher le button ou non %>
<%= render partial: "shared/top_nav", locals: { return_url: chats_path, fav_display: false, edit_display: false, add_display: false, add_ingredient: false } %>

<div class="d-flex flex-column vh-100">
  <div class="d-flex flex-column">
    <div class="row align-items-center">
      <div class="col text-center">
        <h1><%= @chat.title %></h1>
      </div>
    </div>

    <div id="messages" class="flex-grow-1 overflow-auto px-3" style="margin-top: 80px; margin-bottom: 120px;">
      <%= render partial: "messages/message", collection: @messages, as: :message %>
    </div>

    <div class="position-fixed bottom-0 start-0 w-100" style="z-index: 1050; padding: 1rem 0;">
      <div class="container px-3">
        <%= render "messages/form", chat: @chat, message: @message %>
      </div>
    </div>
  </div>
</div>
