<div class="d-flex flex-column full-height px-3">

  <div class="pt-3">
    <%= link_to 'â† Return', chats_path, class: "btn btn-secondary btn-sm mb-3" %>
    <h1 class="h4 mb-3"><%= @chat.title %></h1>
  </div>

  <div id="messages" class="overflow-auto">
    <%= render @messages, partial: "messages/message", as: :message %>
  </div>

  <div id="form" class=" pb-5 mb-4">
    <%= render "messages/form", chat: @chat, message: @message %>
  </div>
</div>
