<div class="d-flex flex-column">
  <%# passe la locale with_add_button pour afficher le button ou non %>
  <%= render partial: 'shared/top_nav', locals: { with_add_button: true } %>

  <h1 class="h4 mb-3"><%= @chat.title %></h1>
  <div id="messages" class="overflow-auto" style="margin-top: 128px;">
    <%#= render "messages/messages", messages: @messages %>
    <%= render partial: "messages/message", collection: @messages, as: :message %>
  </div>

  <div id="form" >
    <%= render "messages/form", chat: @chat, message: @message %>
  </div>
</div>
