<div class="container mt-4">

  <%= link_to 'return', chats_path, class: "btn btn-secondary btn-xl mb-3" %>

  <div class="col mb-3">
    <div class="pl-1">
      <h1>Your cooking assistant</h1>
      <h5>Type what's on your mind and your assistant will recommend a recipe</h5>
    </div>


    <div id="messages">
      <%= render "messages/messages", messages: @messages  %>
    </div>

    <div id="form">
      <%= render "messages/form", chat: @chat, message: @message %>
    </div>
  </div>
</div>
