
<div class="container mt<div class="col my-3">
  <%= link_to 'return', root_path, class: "btn btn-secondary btn-xl" %>


  <div class="card h-100 shadow-sm my-4">
    <div class="card card-background text-white">
      <div class="card-img-overlay">

  <h1>Cooking assistant</h1>
  <h2>Type what's on your mind and your assistant will recommend a recipe </h2>
                                   
    <%= simple_form_for [@message] do |f| %>
      <%= f.input :prompt, placeholder: "Ask a question", required: true, label: false %>
      <%= f.button :submit, 'Submit', class: 'btn btn-secondary btn-xl' %>
    <% end %>

      </div>
    </div>
  </div>

</div>
