<div class="container mt-4">

  <%= link_to 'return', root_path, class: "btn btn-secondary btn-xl mb-3" %>


  <p>
    <% @chats.each do |chat| %>
    <p>
      <%= link_to "#{chat.title}", chat_messages_path(chat) %>
    </p>
    <% end %>
  </p>

  <div>
    <%= link_to 'ask a question',  new_chat_path, class: "btn btn-primary btn-xl mb-3" %>
  </div>

</div>
