test

<%# inclure form /// div pour les derniers messages /// loop sur @chats pour afficher un équiv d'index %>

path vers  chat_messages(chat) => url : /chats/:chat_id/messages
<<<<<<< HEAD


<h1><%=  %></h1>
=======
>>>>>>> 629b4ea19ea0a62df7967e6b121cf2a5a4a8b13a
