<div class="container col my-3 mt">
  <%= render partial: "shared/top_nav", locals: { return_url: root_path, fav_display: true, edit_display: false, add_display: true } %>
  <div class="card h-100 shadow-sm my-4">
    <div class="card">

      <% @favorite_recipes.each do |recipe| %>
        <%= link_to recipe_path(recipe), recipe.name %>
        <%=recipe.name%>
        <br>
        <br>
        <%=recipe.description%>
      <%end %>

    </div>
  </div>
</div>
