<div class="form-background position-absolute top-0 start-0 w-100 h-100"></div>

<div class="container min-vh-100 d-flex justify-content-center align-items-center">
  <div class="row w-100 justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6">
      <div class="card shadow rounded-4 p-5 text-center" style="min-height: 350px;">
        <div class="mb-4">
          <%= image_tag "shelfie maintenace.png", width: 200, alt: "Shelfie Logo", class: "img-fluid mb-3" %>
          <h1 class="color-primary">Coming soon</h1>
        </div>
        <!-- Ajoute ici du contenu supplémentaire si besoin -->
      </div>
    </div>
  </div>
</div>
