#ing-pic {
  height: 50px;
  width: 50px;
}

.ing-show {

}

.test1 {
    margin-bottom: 100px;
    width: 100vw;
    gap: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    display: flex
;
    flex-wrap: wrap;
}
