/* Ajoute dans application.css ou application.scss */
.navbar-mobile {
  box-shadow: 0 -2px 8px rgba(0,0,0,0.05);
  position: fixed;
  bottom: 12px;
  left: 10px;
  right: 10px;
  background-color: $green;
  color: $lightgreen;
  border-radius: 50px;
  z-index: 2000;
}

.navbar-mobile .text-center {
  font-size: 1.1rem;
  padding: 0.2rem 0;
}

.icon-size img {
  height: 36px;
  width: auto;
}

.blur-background-mobile {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background-color: rgba(255, 255, 255, 0.2);  // fond plus transparent
  backdrop-filter: blur(4px);                   // flou réduit
  -webkit-backdrop-filter: blur(4px);
  z-index: 1999;

  mask-image: linear-gradient(to bottom,
    transparent 0%,
    rgb(255, 255, 255) 20%,
    rgb(224, 224, 224) 100%
  );
  -webkit-mask-image: linear-gradient(to bottom,
    transparent 0%,
    rgb(255, 255, 255) 20%,
    rgb(220, 220, 220) 100%
  );
}

// .blur-background-mobile  {
//   position: fixed;        // <— garder uniquement fixed
//   bottom: 0;
//   left: 0;
//   width: 100%;
//   padding: 2em;
//   background: rgba(255,255,255,0.3);
//   border-radius: 1em 1em 0 0;
//   z-index: 1;
//   overflow: visible;      // pour laisser déborder le ::before
//   // position: relative;  // <— SUPPRIMER cette ligne !

//   // on déporte tout le backdrop-filter ici et on masque le haut
//   &::before {
//     content: "";
//     position: absolute;
//     top: -20px;           // 20px au-dessus pour adoucir
//     left: 0;
//     width: 100%;
//     height: calc(100% + 60px);
//     backdrop-filter: blur(8px);
//     -webkit-backdrop-filter: blur(30px);
//     border-radius: inherit;
//     z-index: -1;

//     // on fait progressivement apparaître le blur
//     mask-image: linear-gradient(to bottom,
//       transparent 0%,
//       black 20%,
//       black 100%
//     );
//     -webkit-mask-image: linear-gradient(to bottom,
//       transparent 0%,
//       black 20%,
//       black 100%
//     );
//   }
// }
