.container-img {
  display: flex;
  justify-content: center;
}

.picture {
  width: 350px;
  height: 250px;
  object-fit: cover;
  border-radius: 5%;
}
// ---------------------------------------

.categories-res {
  height: 63px;
  width: 78px;
}

