.card {
  border-radius: 1rem; // ou 16px
}

// .card-img {
//   display: flex;
//   justify-content: start;
//   object-fit: cover;
//   height: 100px;
//   width: 100px;
// }

.card-background {
  background-image: url("card_home/back_card.png");
  background-size: cover;
  background-position: center;
  height: 200px;
}

.card-light-background {
  background-image: asset-url("card_home/back_card_light.png");
  background-size: cover;
  background-position: center;
  height: 200px;
}
