.card {
  border: none;
  border-radius: 1rem;
}

// .col {
//   font-size:small;
// }

.card-product-light {
  background: url("back_card_light.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  border-radius: 1rem;
  height: 150px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;

}

// .card-product {
//   background: url("back_card.png");
//   background-size: cover;
//   background-position: center;
//   overflow: hidden;
//   border-radius: 1rem;
//   height: 150px;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   display: flex;
//   color: lightgreen;
// }

// .pic-card {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

#pic {
  width: 130px;
  height: 150px;
  object-fit: cover;
  border-radius: 1rem;
}


.card-description {
  text-align: start;
}

.card-description p {
  text-align: start;
}

 .btn-cards {
  display: flex;
  justify-content: end;
  margin-right: 10px;
 }
// -----------------------------------------

.card-background {
  background-image: url("card_home/back_card.png");
  background-size: cover;
  background-position: center;
  height: 200px;
}

.card-light-background {
  background-image: asset-url("card_home/back_card_light.png");
  background-size: cover;
  background-position: center;
  height: 200px;
}
