// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";
@import "components/btn";
@import "components/cards";
@import "flatpickr/dist/flatpickr.min.css";


// Your CSS partials
@import "components/index";
@import "pages/index";
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');


body {
  font-family: 'Karla', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.full-height {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#messages {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  flex-grow: 1;
  padding-bottom: 1rem;
}

#form {
  flex-shrink: 0;
}

.modal {
  z-index: 1060 !important; /* Force le modal à s'afficher devant le fond gris */
}
.modal-backdrop {
  z-index: 1050 !important; /* Fixe le fond gris en arrière-plan */
}
